<p class="center-text"><br>
    Alább láthatod az aktuális foglalásokat tartalmazó táblázatot.
</p> <br>
<table>
    <thead>
      <tr>
        <th>Dátum</th>
        <th>Név</th>
        <th>Fő</th>
        <th>Cím</th>
        <th>Irányítószám</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let foglalas of foglalasok">
        <td>{{ foglalas.datum }}</td>
        <td>{{ foglalas.nev }}</td>
        <td>{{ foglalas.fo}}</td>
        <td>{{ foglalas.cim}}</td>
        <td>{{ foglalas.iranyitoszam}}</td>
      </tr>
    </tbody>
</table>
<br>
<div class="button-container">
    <button (click)="navigateToHome()" class="btn btn-dark">Főoldal</button>
    <button (click)="navigateToUjFoglalas()" class="btn btn-dark">Új Foglalás Felvétele</button>
</div>