<div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/kep.jpg" alt="Kép" class="img-fluid">
      </div>
      <div class="col-md-6">
        <p class="center-text">
            Üdvözlünk, a MY escape room adminisztrációs felületén! <br> <br>
            Az alábbi gombokra kattintva tudod lekérni a már foglalt időpontok listázását, valamint tudsz felvinni újabb időpontokat.
        </p>
        <div class="button-container">
        <button (click)="navigateToFoglalasok()" class="btn btn-dark">Foglalások Listázása</button>
        <button routerLink="/ujfoglalas" class="btn btn-dark">Új Foglalás Felvétele</button>
        </div>
      </div>
    </div>
</div>
