.container {
    margin-top: 50px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  button {
    margin-top: 20px;
    margin-right: 10px;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  button {
    margin-right: 10px;
  }

  .center-text {
    text-align: center;
  }